html{
    font-size: 62.5%;
}

body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom,rgb(0, 4, 255),rgb(0, 0, 41));
}

.holi{
    justify-items: center;
}

#titulo{
    font-size: 4em;
    color: rgba(240, 248, 255, 0.557);
    font-style: italic;
}

.seccion_productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5em;
    gap: 2em;
}

.producto{
    border: 0.2em solid black;
    box-shadow: 0.2em 0.2em 0.2em black;
    max-width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
}

.producto img{
    max-width: 100%;
    height: 40%;
    object-fit: cover;
    box-shadow: 0.3em 0.3em 0.3em black;
}

.precio{
    font-weight: 900;
}

.producto button:hover{
    background-color: rgba(16, 1, 64, 0.59);
    color: rgb(255, 255, 255);
}

.carrusel{
    background-color: rgba(240, 248, 255, 0.161);
    display: flex;
    gap: 3em;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.op{
    border: 0.2em solid black;
    box-shadow: 0.2em 0.2em 0.2m black;
    padding: 0.2em;
    flex: 0 0 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: end;
}