
html{
    font-size: 62.5%;
}

body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom,rgb(253, 253, 129), white);
}

#encabezado{
    border: 0.2em solid black;
    display: grid;
    grid-template-columns: 2fr 3fr 4fr;
    justify-content: center;
    align-items: center;
}

#encabezado img{
    width: 70%;
    height: 70%;
    aspect-ratio: 1 / 0.8;
    border-radius: 70%;
    object-fit: cover;
}

h1{
    font-size: 3.5em;
    text-align: center;
}

#navegacion{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.3em;
    gap: 0.3em;
}

#navegacion a{
    padding: 0.3em;
    text-decoration: none;
    text-shadow: 0.2em 0.2em 0.1em blue ;
    font-size: 1.3em;
    color: wheat;
    background-color: black;
    border-radius: 20%;
    text-align: center;
}

#contenedor-noticias{
    border: 0.1em solid black;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
}

.noticias{
    border: 0.1em solid blue;
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.noticias h2{
    grid-column: 1 / 4;
    align-content: center;
    text-align: center;
}

.noticia{
    border:  0.2em solid blue;
    box-shadow: 0.2em 0.2em 0.2em black;
    align-content: center;
    text-align: center;
}

.noticias-urgentes{
    border: 0.2em solid black;
    grid-column: 5 / 7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 30em;
    overflow-y: auto;
}

.noticias-urgentes h2{
    text-align: center;
    align-content: center;
}

.noticias-u{
    border:  0.2em solid rgb(0, 0, 0);
    box-shadow: 0.2em 0.2em 0.2em black;
    align-content: center;
    text-align: center;
    height: 20em;
}

footer{
    display: grid;
    grid-template-columns: 2fr 3fr 4fr;
    justify-content: center;
    align-items: center;
}
